# GOOGLE CONSOLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# NEXTAUTH
AUTH_SECRET=
NEXTAUTH_URL=

# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=

# GOOGLE API
NEXT_PUBLIC_GOOGLE_API=
NEXT_PUBLIC_GOOGLE_API_CALENDAR=
NEXT_PUBLIC_GOOGLE_API_DRIVE=
NEXT_PUBLIC_GOOGLE_API_DRIVE_UPLOAD=
NEXT_PUBLIC_GOOGLE_API_TASKS=
NEXT_PUBLIC_GOOGLE_API_GMAIL=
